/* Custom CSS for the site */

html, body {
  font-family: $site-font !important;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  display:flex;
  flex-direction:column;
}

.content {
  min-width: 80%;
}

.monospace {
  font-family: monospace, courier, sans-serif !important;
}

.uk-tab li a {
  color: #444;
}

.uk-tab li a:hover {
  color: #444;
}

br.sep {
  margin-top: 2em;
}

.site-title {
  font-family: $title-font !important;
}

.tag-selector-button {
  color: black;
  background-color: white;
}

.landing-page-searchbar {
  margin-top: auto;
  margin-bottom: auto;
}

// Used to display the list of researchers
div.researcher-list li {
  margin-top: 5px;
  margin-bottom: 5px;
}

/****************************
 * Background colors
 ****************************/
.bg-white {
  background-color: white;
}

/****************************
 * Navbar
 ****************************/
.site-navbar {
  background-color: #222 !important;
}

/****************************
 * CSS for tags
 ****************************/

.deselected-tag {
  background-color: white !important;
  color: black !important;
}

.selected-tag {
  background-color: #222 !important;
  color: #fff !important;
}

/****************************
 * Links
 ****************************/

a.anchor {
  text-decoration: none !important;
  color: inherit !important;
  pointer-events: inherit;
  cursor: default;
}

a.anchor:hover {
  text-decoration: none;
  cursor: default;
}

/****************************
 * CSS for search-related components
 ****************************/

.paginator {
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: 1em;
}

.searchbar {
  background-color: white;
  border: 1px solid black;
}

/****************************
 * Animations
 ****************************/

.particles-wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #e8e8e8;
}
