/*
 * Custom fonts
 */

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nobile";
  src: url("/fonts/Nobile-Medium.ttf") format("truetype");
}

@import "variables";
@import "base";
