<!doctype html>
<html>

  {{- partial "head.html" . -}}

  <body>
    {{- partial "navbar.html" . -}}

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{- partial "footer.html" . -}}

    {{/* Javascript imports */}}

    {{/* Vendor JS */}}

    {{ $jquery := resources.Get "js/vendor/jquery-3.5.0.min.js" }}
    {{ $uikit := resources.Get "js/vendor/uikit.min.js" }}
    {{ $uikit_icons := resources.Get "js/vendor/uikit-icons.min.js" }}
    {{ $fuse := resources.Get "js/vendor/fuse.js" }}
    {{ $vue := resources.Get "js/vendor/vue.2.6.11.prod.js" }}
    {{ if .Site.Params.Use_Development_Vue_JS }}
      {{ $vue = resources.Get "js/vendor/vue.dev.js" }}
    {{ end }}
    {{ $vendor_js := slice $jquery $uikit $uikit_icons $fuse $vue | resources.Concat "js/vendor.js" }}
    {{ $vendor_js := resources.Minify $vendor_js | resources.Fingerprint "sha256" }}
    <script
      type="text/javascript"
      src="{{ $vendor_js.RelPermalink }}"
      integrity="{{ $vendor_js.Data.Integrity }}">
    </script>

    {{/* Custom JS */}}

    {{ $entries := resources.Get "js/entries.js" | resources.Minify }}
    {{ $utils := resources.Get "js/utils.js" | resources.Minify }}
    {{ $site_js := slice $entries $utils | resources.Concat "js/site.js" | resources.Fingerprint "sha256" }}
    <script
      type="text/javascript"
      src="{{ $site_js.RelPermalink }}"
      integrity="{{ $site_js.Data.Integirty }}">
    </script>

    {{ block "javascripts" . }}
    {{ end }}
  </body>
</html>
