<!doctype html>
<html>

  {{- partial "head.html" . -}}

  <body>
    {{- partial "navbar.html" . -}}

    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

    {{- partial "footer.html" . -}}

    {{/*
    Javascript imports
    */}}

    {{/* Vendor JS */}}

    {{ range $js := slice "jquery-3.5.0.min.js" "uikit.min.js" "uikit-icons.min.js" "fuse.js" }}
      {{ $js := printf "js/vendor/%s" $js }}
      {{ $js := resources.Get $js | resources.Fingerprint "sha256" }}
      <script
        type="text/javascript"
        src="{{ $js.RelPermalink }}"
        integrity="{{ $js.Data.Integrity }}">
      </script>
    {{ end }}

    {{/* Custom JS */}}

    {{ range $js := slice "entries.js" "utils.js" }}
      {{ $js := printf "js/%s" $js | resources.Get | resources.Minify | resources.Fingerprint "sha256" }}
      <script
        type="text/javascript"
        src="{{ $js.RelPermalink }}"
        integrity="{{ $js.Data.Integrity }}">
      </script>
    {{ end }}

    {{ block "javascripts" . }}
    {{ end }}
  </body>
</html>
