{{/*
A site-wide footer with credits, contact information, etc.
*/}}

<footer class="uk-section uk-section-secondary uk-text-break uk-padding-small">
  <div class="uk-container uk-margin-top uk-margin-bottom">
    <div class="uk-grid-divider" uk-grid="">

      {{/* First column (acknowledgments) */}}
      <div class="uk-width-1-2@m acknowledgments">
        The Encryption Compendium is a project of the
        <a href="https://siliconflatirons.org/" target="_blank">
          Silicon Flatirons Center for Law, Technology, and Entrepreneurship
        </a>
        at Colorado Law. To learn more about the project and the center, please visit
        <a href="https://siliconflatirons.org/encryption-compendium/" target="_blank">
          https://siliconflatirons.org/encryption-compendium/
        </a>,
        or visit
        <a href="https://github.com/The-Encryption-Compendium/TECv2" target="_blank">
          our GitHub
        </a>
        to see more.
      </div>

      {{/* Second column (logos) */}}
      <div class="uk-width-1-2@m">
        <div class="uk-child-width-1-2@m" uk-grid="">
          <div>
            <img src="/img/SILC_logo.png" alt="Silicon Flatirons logo">
          </div>

          <div>
            <img src="/img/Colorado_Law_rev_center_gold_law.png" alt="Colorado Law logo">
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
