{{/*
A site-wide footer with credits, contact information, etc.
*/}}

<footer class="uk-section uk-section-secondary uk-text-break uk-padding-small">
  <div class="uk-container uk-margin-top uk-margin-bottom">
    <div class="uk-grid-divider" uk-grid="">

      {{/* First column */}}
      <div class="uk-width-1-3@m">
        The Encryption Compendium is sponsored by
        <a class="uk-link" href="https://siliconflatirons.org">Silicon Flatirons</a>,
        <a class="uk-link" href="https://colorado.edu">the University of Colorado Boulder</a>, and
        <a class="uk-link" href="https://facebook.com">Facebook</a>.
      </div>

      {{/* Second column */}}
      <div class="uk-width-1-3@m">
        <ul class="uk-list">
          <li>
            <a class="uk-link" href="#">About</a>
          </li>
          <li>
            <a class="uk-link" href="#">Contact us</a>
          </li>
          <li>
            <a class="uk-link" href="#">Team</a>
          </li>
        </ul>
      </div>

      {{/* Third column */}}
      <div class="uk-width-1-3@m">
        <ul class="uk-list">
          <li>
            <a class="uk-link" href="https://github.com/The-Encryption-Compendium/the-encryption-compendium">
              <span uk-icon="icon: github"></span> GitHub
            </a>
          </li>
          <li>
            <a class="uk-link" href="https://twitter.com/SiliconFlatiron">
              <span uk-icon="icon: twitter"></span> Twitter
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
