{{/*
A site-wide footer with credits, contact information, etc.
*/}}

<footer class="uk-section uk-section-secondary uk-text-break uk-padding-small">
  <div class="uk-container uk-margin-top uk-margin-bottom">
    <div class="uk-grid-divider" uk-grid="">

      {{/* First column (acknowledgments) */}}
      <div class="uk-width-1-2@m acknowledgments">
        The Encryption Compendium is a project of the
        <a href="https://siliconflatirons.org/">
          Silicon Flatirons Center for Law, Technology, and Entrepreneurship
        </a>
        at Colorado Law and the
        <a href="https://www.colorado.edu/program/tcp/">
          Technology, Cybersecurity, and Policy Center
        </a>
        at the CU Boulder College of Engineering and Applied Science. The project is made possible by
        <a href="https://facebook.com">Facebook</a>.
      </div>

      {{/* Second column (additional resources) */}}
      <div class="uk-width-1-2@m">
        <div class="uk-child-width-1-2@m" uk-grid="">
          <div>
            <ul class="uk-list">
              <li>
                <a class="uk-link" href="#">About</a>
              </li>
              <li>
                <a class="uk-link" href="#">Contact us</a>
              </li>
              <li>
                <a class="uk-link" href="#">Team</a>
              </li>
            </ul>
          </div>

          <div>
            <ul class="uk-list">
              <li>
                <a class="uk-link" href="https://github.com/The-Encryption-Compendium/the-encryption-compendium">
                  <span uk-icon="icon: github"></span> GitHub
                </a>
              </li>
              <li>
                <a class="uk-link" href="https://twitter.com/SiliconFlatiron">
                  <span uk-icon="icon: twitter"></span> Twitter
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
