<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ $.Site.Params.description }}">

  <title>{{ .Site.Title }}</title>

  {{/* UIkit styling */}}

  {{ range (readDir "static/css") }}
    {{ $path := printf "static/css/%s" .Name }}
    {{ if eq (path.Ext $path) ".css" }}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ printf "/css/%s" .Name }}">
    {{ end }}
  {{ end }}

  {{ $cssTarget := "css/style.css" }}
  {{ $cssOptions := (dict "targetPath" $cssTarget "enableSourceMap" true "outputStyle" "compressed") }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "tec.style.scss" . | toCSS $cssOptions }}
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ $style.RelPermalink }}">

  {{ if .Site.Params.Use_Development_Vue_JS }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {{ else }}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  {{ end }}
</head>
