{{ define "main" }}

<div class="uk-container uk-padding">

  {{/* Particle animation */}}
  <div id="particles-js" class="particles-wrapper"></div>

  <div class="uk-margin-top uk-grid-large uk-text-middle" uk-grid>
    <div class="uk-width-1-2@l">

      {{ if .Params.Title }}
      <h1 class="site-title uk-heading-medium uk-heading-primary uk-text-break">
        {{ .Params.Title }}
      </h1>
      {{ end }}

      {{ if .Params.description }}
      <h2 class="site-title">
        {{ .Params.description }}
      </h2>
      {{ end }}

    </div>

    {{/* Search bar */}}
    <div class="landing-page-searchbar uk-text-center uk-width-1-2@l uk-text-middle">
      <form class="uk-width-1-1 uk-text-large" method="GET" action="/search">
        {{- partial "searchbar.html" -}}
        <button type="submit" class="uk-margin-top uk-width-1-4@m uk-button uk-button-primary">
          Search
        </button>
      </form>
    </div>

  </div>
</div>

{{ .Content }}

{{ end }}

{{ define "javascripts" }}
{{ $js := resources.Get "js/landing_page.js" | resources.Minify }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}
