{{ define "main" }}

<div class="uk-container">
  <div class="uk-margin-top">
    <h1 class="uk-h1">
      Search results
    </h1>

    <hr />

    <div class="uk-container">
      <div id="search_stats" class="uk-grid-match" uk-grid></div>

      <br />

      <div class="uk-container uk-width-1-2@m uk-text-center">
        <form method="GET" action="/search">
          {{- partial "searchbar.html" -}}
          <button
            type="submit"
            class="uk-width-1-4@m uk-button uk-button-primary uk-margin-top"
          >
            Search
          </button>
        </form>
      </div>

      <br />

      <div id="search_results"></div>
    </div>
  </div>
</div>

{{ end }} {{ define "javascripts" }} {{ $js := resources.Get "js/search.js" |
resources.Minify }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ end }}
