{{ define "main" }}

<div class="uk-container">
  <div class="uk-margin-top">
    <h1 class="uk-h1">
      Search results
    </h1>

    <hr>

    <div class="uk-container" id="search-results">
      <br>

      <div id="search-stats">
        <search-stats v-bind:nresults="nresults" v-bind:qtime="qtime"></search-stats>
      </div>

      <div class="uk-container uk-width-1-2@m uk-text-center">
        <form method="GET" action="/search">
          {{- partial "searchbar.html" -}}
          <button
            type="submit"
            class="uk-width-1-4@m uk-button uk-button-primary uk-margin-top">
            Search
          </button>
        </form>
      </div>

      <br>

      <div id="results-list">
        <search-result
          v-for="res in results"
          v-bind:title="res.title"
          v-bind:authors="res.authorString"
          v-bind:published="res.date"
          v-bind:tags="res.tagString"
          v-bind:slug="res.slug">
        </search-result>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "javascripts" }}
{{ $js := resources.Get "js/search.js" | resources.Minify }}
<script type="module" src="{{ $js.RelPermalink }}"></script>
{{ end }}
